.material-header-box {
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, rgb(9, 6, 68) 0%, rgb(80, 26, 68) 45%, rgb(180, 81, 202) 100%, rgba(0, 212, 255, 1) 100%);
z-index: 9999;
  //  border: 2px solid red;
  height: 46px;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  position: fixed;
  padding: 7px;

  //   border-bottom: 1px solid white;
  .menu-List {
    display: flex;

  }

  .menu-serachDiv {
    justify-content: space-evenly;
    flex: 0.5;
  }
}

.navbar-BGC {
  background-color: #0f081b;
}

.btn-grad {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);

  transition: 0.5s;
  background-size: 200% auto;

  box-shadow: 0 0 20px #eee;
  // border-radius: 10px;
  display: block;
  border-radius: 100px !important;

}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  //  border-radius: -20%;

}

//Home page starts

.Home-Page {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 20%, rgb(68, 19, 58) 45%, rgb(8, 4, 102)100%, rgba(0, 212, 255, 1) 100%);
  padding: 70px 0px 0px 0px;

  //height: calc(100vh - 50px);
 // height: 100vh;
 height: 100% !important;

  .homeContainer {
    margin-top: 60px;
    display: flex;
    .home-info{
     flex: 5 ;
     padding: 10px 20px 10px 70px;
     .heading{
      color: bisque;
      font-size: 55px;
      text-align: left;
      //padding: 20px 0px;
     }
     .sub-heading{
      color: antiquewhite;
      font-size: 20px;
      text-align: left;
     // padding: 20px 0px;

     }
     .redirect-btn{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      //padding: 24px;
      float: left;
     }
    }
    .token-Card{
      flex: 5;
     padding: 30px 10px;
      display: flex;
      justify-content: center;
     // padding: 10px 10px 50px 100px;
      .imageCard{
        height: 420px;
        width: 400px;
        border-radius: 70px 15px 15px 15px;
        border: 1px solid rgba(188, 219, 219,0.5);
        background-color: #4209497c;
        .image-footer{
          display: flex;
          justify-content: space-between;
          align-items: center;
          span > svg{
            fill: red;
          }
        }
      }
      .image{
        border: 3px solid #8E54E9;
        height: 320px;
        width: 98%;
        border-radius: 70px 15px 0px 0px;

      }
      .css-ohwg9z{
width: 75%;
      }
    }
  }
}
.auction-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:0px  70px;
 // width: 100%;
  height: 70vh;
  span > svg{
    font-size: 45px;
    fill: #8E54E9;
  }
  .auction-tokens{
    width: 100%;
   // border: 2px solid red;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.product-container{
  height: 400px;
  width: 240px;
  //border: 1px solid white;
  border-radius: 15px;
  background-color: rgba(77, 77, 77, 0.34);
  .card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .userName{
    color: aliceblue;
  }
  div > svg{
    font-size: 24px;
    fill:aliceblue;
  }
  .product-image{
    height: 220px;
    width: 200px;
    border-radius: 30px;
  }
  .card-likes{
    position: absolute;
    display: flex;
    width: 5%;
   // flex-direction: row;
   // align-items: center;
    //float: right;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 31px;
   // background: ;
    background-color: rgba(77, 77, 77,0.3);
    color: #fff;
    border: 1px solid wheat;
    border-radius: 8px;
    >svg{
      width: 17px;
      fill: red;
    }
  }
  .card-title{
    font-size: 20px;
    color: white;
    padding: 15px 22px;
    float: left;
  }
  .card-title2{
    font-size: 15cpx;
    color: white;
    padding: 0 22px;
    float: left;
  }
  
  
}

.gradientText{
  background: -webkit-linear-gradient( #4776E6 , #8E54E9 , #4776E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}